a {
	text-decoration: none;
	color: #0099FF;
}

.th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

thead tr {
	background-color: #666666;
}
.viewedit {
	padding-left: 12px;
	padding-right: 29px;
	font-size: 11px;
	color: #FFFFFF;
}
.tableborder {
	border: #AAA9A9 solid 1px;
}
th.sorted {
	margin-left: 10px;
	margin-bottom: 5px;
	background-color: #000000;
	font-size: 11px;
	color: #FFFFFF;
	padding-left: 2px;
}

th a,th a:visited {
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
	color: #FFFFFF;

}

th.sortable a {
	background-image: url(../../../images/default/black/displaytag/arrow_off.png);
	background-repeat: no-repeat;
}

th.order1 a {
	background-image: url(../../../images/default/black/displaytag/arrow_down.png);
	background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../../../images/default/black/displaytag/arrow_up.png);
	background-repeat: no-repeat;
}

tr.odd {
	background-color: #fff;
	padding-bottom:5px;
	padding-top: 3px;
}

tr.tableRowEven,tr.even {
	background-color: #E8E9EA;
	padding-bottom: 3px;
	padding-top: 3px;
}

div.exportlinks {
	background-color: #807D7D;
	border: 1px solid #666666;
	padding: 6px 4px 2px 7px;
	margin: 2px 0 10px 0;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
div.exportlinks a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
div.exportlinks a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;

}

span.excel {
	background-image: url(../../../images/default/black/displaytag/ico_file_excel.png);
	background-repeat: no-repeat;
}

span.csv {
	background-image: url(../../../images/default/black/displaytag/ico_file_csv.png);
	background-repeat: no-repeat;
}

span.xml {
	background-image: url(../../../images/default/black/displaytag/ico_file_xml.png);
	background-repeat: no-repeat;
}

span.pdf {
	background-image: url(../../../images/default/black/displaytag/ico_file_pdf.png);
	background-repeat: no-repeat;
}

span.rtf {
	background-image: url(../../../images/default/black/displaytag/ico_file_rtf.png);
	background-repeat: no-repeat;
}

span.pagebanner {
	background-color: #807D7D;
	border: 1px solid #666666;
	padding: 4px 4px 4px 7px;
	width: 100%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;

}

span.pagelinks {
	background-color: #807D7D;
	border: 1px solid #666666;
	padding: 4px 4px 4px 7px;
	width: 100%;
	display: block;
	border-top: none;
	margin-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;

}
span.pagelinks a {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;

}
span.pagelinks a:hover {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;

}

.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
.subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
.grandtotal-row {
    border-top: 2px solid black;
}

td a,td a:visited {
	padding: 5px 5px 5px 5px;
	color: #4F4F4F;
	font-size: 11px;
	text-decoration: underline;
}

td a:hover {
	text-decoration: none;
	color: #4F4F4F;
}

td.sorted a,td.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

td.sortable a {
	background-image: url(../../../images/default/black/displaytag/arrow_off.png);
	background-repeat: no-repeat;
}

td.order1 a {
	background-image: url(../../../images/default/black/displaytag/arrow_down.png);
	background-repeat: no-repeat;
}

td.order2 a {
	background-image: url(../../../images/default/black/displaytag/arrow_up.png);
	background-repeat: no-repeat;
}